body {
    font-family: futurablack bt;
}

body {
    text-align: center;
}

body {
    background-color: blueviolet;
}

body {
    color: white;
}

body {
    background-image: linear-gradient(red, black);
}

img:hover{
   transform: scale(1.5);
   transition: 2s linear;
}

h1{
    color: black;
}
 a{
    color:red;
    text-decoration: none;
}
table, td{
    border:1px solid red;
    border-collapse: collapse;
    
}
